Source: ngcp-acc-cdi
Section: utils
Priority: extra
Maintainer: Sipwise Development Team <support@sipwise.com>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.9.7
Homepage: http://sipwise.com/

Package: ngcp-acc-cdi
Architecture: all
Depends: libclass-dbi-mysql-perl,
         perl-modules,
         ${misc:Depends},
         ${shlibs:Depends}
Conflicts: 
Description: NGCP component to reduce amoutn of "lost" calls.
 A component for NGCP platform that provides a failsafe mechanism
 to reduce amoutn of "lost" calls in case of unexpected system crashes.
 Creates intermediate records for ongoing calls based on acc start (INVITE)
 records and fixes "lost" calls based on last intermediate time.
