#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

D = debian/ngcp-acc-cdi

%:
	dh $@

override_dh_install:
	install -m 755 acc-cdi.pl $(D)/usr/sbin/ngcp-acc-cdi
	dh_install

.PHONY: override_dh_install
